# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directories
build

# Ignore Cargo build output directories
target/

# IDEA project files
*.iml
*.ipr
*.iws
.idea/
